<!-- json-server --watch db.json -->

<mat-toolbar color="warn" class="nav-height">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="openLeftSide()">menu</mat-icon>
    </button>
    <h1>Student Manager</h1>
    <span style="width: 160px;"></span>
    <div>
      <a mat-button [routerLink]="['/home']" routerLinkActive="active-link-toolbar">
        <mat-icon mat-list-icon>home</mat-icon>
        <span style="padding: 0 4px;">Home</span>
      </a>
      <a mat-button [routerLink]="['/student']" routerLinkActive="active-link-toolbar">
        <mat-icon mat-list-icon >folder_shared</mat-icon>
        <span
          style="padding: 0 8px 0 4px;"
          *ngIf="totalStudents > 0"
          matBadge="{{totalStudents}}"
          matBadgeColor="accent"
          matBadgeSize="small"
        >
          Student &nbsp;
        </span>
      </a>
      <a mat-button [routerLink]="['/about']" routerLinkActive="active-link-toolbar">
        <mat-icon mat-list-icon>info</mat-icon>
        <span style="padding: 0 4px;">About</span>
      </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav (closed)="closeLeftSide()">
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/home']" routerLinkActive="active-link-sidenav">
        <mat-icon mat-list-icon>home</mat-icon> Home
      </a>
      <a mat-list-item [routerLink]="['/student']" routerLinkActive="active-link-sidenav">
        <mat-icon mat-list-icon>folder_shared</mat-icon>
        <span>Student</span>
      </a>
      <a mat-list-item [routerLink]="['/about']" routerLinkActive="active-link-sidenav">
        <mat-icon mat-list-icon>info</mat-icon> About
      </a>
      <a mat-list-item (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>close</mat-icon> Close
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div
      style="
        height: 90vh;
        margin-top: 20px;
        margin-right: 10px;
        margin-left: 10px;
      "
      [ngClass]="{
        'content-move-left': !isOpened,
        'content-move-right': isOpened
      }"
    >
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
